<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Topic</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <script type="text/javascript" src="/javascripts/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
  <link rel="stylesheet" href="/stylesheets/topic.css">
  <script type="text/javascript" src="/javascripts/common.js"></script>
  <link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>
  <%- include ../common/topNav %>
  <div class="topic-zhihu col-md-5 col-md-offset-2">
    <div class="topic-top">
      <span class="glyphicon glyphicon-th-list"></span>
      <span class="h2">话题广场</span>
    </div>  
    <div class="topic">
      <% tags.forEach(function (tag, index) { %>  
        <a href="/topic/<%= tag %>" class="tag"><%= tag %></a>
      <% }); %>  
    </div>  
  </div> 
</body>
</html>